*{
    margin: 0;
  
    box-sizing: border-box;
  
}
body{
    background-color: #f5f5f5;
}
.top{
        background-image: linear-gradient(135deg,#058d0c 25%, #1a1b1b 90%) ;
        background-image: -webkit-linear-gradient(150deg,#058d0c 25%, #1a1b1b 90%);
        position: relative;
        z-index: 1;
        padding: 50px;
        color: #999;
        font-size: 1rem;
        color: #fff;
        letter-spacing: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
}
.logo{
    position: absolute;
    font-size: 1.5rem;
    top: 10px;
    left: 10px;
    font-weight: bolder;
}
p.sign{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

}
nav{
    padding: 0 10px;
    position: absolute;
    width: 100%;
    background: tomato;
    box-sizing: border-box;

}
nav .itens-menu{
    float: right;
} 
nav ul{
    list-style: none;
    display: flex;
}
nav .itens-menu ul li{
    padding: 40px 15px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}
nav .itens-menu ul li a{
    text-decoration: none;
    color: #fff;
}
nav .itens-menu ul li a:hover{
color: whitesmoke;
}
.toglemenu{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;

}
@media(max-width:991px){
   nav{
       padding: 0 20px;
   } 
  
   .toglemenu{
       display: block;
   }
   nav .itens-menu{
       position: absolute;
       width: 100%;
       height: calc(100vh - 50px);
       background: #333;
       top: 50px;
       left:-100%;
       transition: .5s;

   }
   nav .itens-menu.active{
    left:0;
}
   nav .itens-menu ul{
       display: block;
       text-align: center;
   }
   nav .itens-menu ul li a{
       border-bottom:1px solid rgba(0, 0, 0, .3) ;
   }

}
/*
label[for="hmenu"]{
    padding: 5px;
    background: #eee;
    color: #000;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
label[for="hmenu"]{
    display: none;
}
#hmenu{
    display: none;
}

@media(max-width: 900px){
    label[for="hmenu"]{
        display: block;
       
    }
    #hmenu:checked ~ nav.menu{
        margin: 0;
     
    }
    nav.menu{
        margin-left: -100%;
        transition: all.4s;
    }
    nav.menu ul li{
        width: 100%;
        float: none;
     
    }

}*/
